xerocli/config.yaml
xerocli/xerocli

sfcli/config.yaml
sfcli/sfcli

# config
config/config.yaml
config.yaml

# storage
xero_token.json
sf_token.json

# db
db/sql/test.db
db/sql/test.db-*
reconciliation.db*

# bin files
bin


