xerocli/config.yaml
xerocli/xerocli

sfcli/config.yaml
sfcli/sfcli

# storage
reconciliation.db
xero_token.json
sf_token.json

# web
web/playground/
web/sql

# backups
reconciliation.db.*

# bin files
bin

# testdata
dbquery/testdata/test.db-*

# sqlite history files
dbquery/history*



