{{- /* connect is the template for the Xero and Salesforce oauth2 connections  */ -}}

{{ template "base.html" . }}

{{ define "content" }}
<div class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md border border-slate-300 text-sm text-black">
    <div class="prose">
        <h2 class="pb-4 text-base font-semibold">Welcome to the Charity Reconciler App</h2>
        <p class="pb-4">This application helps <span class="font-bold">{{ .Organisation }}</span> streamline financial reconciliation between Xero and Salesforce records.</p>
        {{ if and (not .XeroTokenIsValid) (not .SFTokenIsValid) -}}
        <p class="pb-2">To begin, please connect to both services using your personal login details for each
        service. You will need to grant this application permission to access your data.</p>
        {{ end -}}
    </div>
    <div class="mt-2 space-y-6">
        <!-- Connect to Xero -->
        <div class="p-4 border border border-4 rounded-md">
            <h3 class="font-semibold">Connect to Xero</h3>
            <p class="text-slate-600 text-sm mt-1 mb-3">Authorize the app to read invoices and bank transactions.</p>
            {{ if not .XeroTokenIsValid }}
            <p class="text-slate-600 text-sm mb-3 -mt-2">
                <span class="font-bold">Note:</span>
                Xero connections require a Xero app defined on or after 2 March 2026. See 
                <a class="hover:underline text-sky-700"
                   href="https://developer.xero.com/documentation/guides/oauth2/scopes/#organisation-scopes">
                    Xero's new granular scopes
                </a>
                for more information.
            </p>
            <a href="/xero/init" class="inline-block bg-sky-600 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition-colors">
                Connect
            </a>
            {{ else }}
            <p class="inline-block text-sky-800 font-bold py-2">
            Connected!
            </p>
            {{ end }}
        </div>

        <!-- Connect to Salesforce -->
        <div class="p-4 border border border-4 rounded-md">
            <h3 class="font-semibold">Connect to Salesforce</h3>
            <p class="text-slate-600 text-sm mt-1 mb-3">Authorize the app to read and update donation records.</p>
            {{ if not .SFTokenIsValid }}
            <a href="/salesforce/init" class="inline-block bg-sky-600 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition-colors">
                Connect
            </a>
            {{ else }}
            <p class="inline-block text-sky-800 font-bold py-2">
            Connected!
            </p>
            {{ end }}
        </div>
    </div>
    {{ if and (.XeroTokenIsValid) (.SFTokenIsValid) }}
    <div class="prose py-2">
        <p class="py-2">
        You are connected.
        </p>
        <p class="pb-4">
            <a href="/refresh" class="inline-block border-2 border-sky-700 text-sky-700 font-bold py-1 px-3 rounded hover:bg-indigo-100 transition-colors">
                Continue to data refresh
            </a>
        </p>
    </div>
    {{ end }}
</div>
{{ end }}
