{{- /* donations.html is the list of salesforce opportunities (donations) */ -}}

{{ template "base.html" . }}

{{ define "title" }}{{ .PageTitle }} - Charity Reconciler{{ end }}

{{ template "nav.html" . }}

{{ define "content" }}
<div class="space-y-6">

<div class="bg-white p-6 rounded-lg shadow-sm border border-slate-j00 text-sm text-slate-700">
    <!-- Financial Year Selector -->
    <div class="mb-4 text-sm">
        Showing data for the <span class="font-bold">2025</span> financial year. <a href="/refresh" class="text-sky-600 hover:underline">Change financial year</a>.
    </div>

    <!-- Tabs -->
    {{ template "listingTabs" .CurrentPage }}

    <!-- start frame -->
    <div class="relative overflow-x-auto text-black border border-slate-400 rounded-md rounded-tr-lg rounded-b-lg rounded-tl-none">

    <!-- search form -->
    {{ template "partial-donations-searchform" . }}

    <!-- results table and pagination -->
    {{ template "partial-donations-searchresults" . }}

    <!-- end frame -->
    </div>

</div>
{{ end }}
