{{ template "base.html" . }}

{{ define "title" }}{{ .PageTitle }} - Charity Reconciler{{ end }}

{{ define "nav" }}
<div class="flex items-center space-x-4 text-sm font-medium">
    <a href="/home" class="text-slate-500 border-b-2 border-transparent pb-1 hover:text--700">Home</a>
    <a href="/refresh" class="text-slate-500 border-b-2 border-transparent pb-1 hover:text--700">Refresh</a>
    <a href="/connect" class="text-slate-500 border-b-2 border-transparent pb-1 hover:text--700">Logout</a>
</div>
{{ end }}

{{ define "content" }}
<div class="space-y-6">

    <!-- Invoice Header Panel -->
    <div class="bg-white p-6 rounded-lg shadow-md border border-slate-400 text-sm text-slate-800">

        <!-- Breadcrumb -->
        <div class="text-sm text-slate-600 mb-2">
            <a href="/home" class="hover:underline">&#171; Invoices</a> 
        </div>

        <h2 class="text-lg font-semibold mb-2">Invoice details</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-1 mb-4">
            <div>
                <h3 class="text-xs text-slate-600 font-semibold uppercase">Number</h3>
                <p class="font-mono">
                <a href="#" class="text--600 hover:underline">
                {{ .Invoice.InvoiceNumber }}
               </a></p>
            </div>
            <div>
                <h3 class="text-xs text-slate-600 font-semibold uppercase">Date</h3>
                <p class="font-mono">{{ .Invoice.Date.Format "02 Jan 2006" }}</p>
            </div>
            <div>
                <h3 class="text-xs text-slate-600 font-semibold uppercase">To</h3>
                <p>{{ .Invoice.ContactName }}</p>
            </div>
            <div class="text-right">
                <h3 class="text-xs text-slate-600 font-semibold uppercase">Invoice Total</h3>
                <p class="text-lg font-mono font-bold">{{ printf "£%.2f" .Invoice.Total }}</p>
            </div>
            <div class="md:col-span-4">
                <h3 class="text-xs text-slate-600 font-semibold uppercase">Description</h3>
                <p>{{ .Invoice.Description }}</p>
            </div>
        </div>

        <!-- Results Table : (should be invoice lineitems, faked here for the moment) -->
        <div class="overflow-x-auto rounded-md border border-slate-300">
            <table class="min-w-full divide-y divide-slate-300 text-xs text-slate-800">
                <thead class="bg-sky-100">
                    <tr class="uppercase text-slate-600">
                        <th class="text-xs px-4 py-2 text-left font-semibold">Date</th>
                        <th class="text-xs px-4 py-2 text-left font-semibold">To</th>
                        <th class="text-xs px-4 py-2 text-left font-semibold">Description</th>
                        <th class="text-xs px-4 py-2 text-right font-semibold">Total</th>
                        <th class="text-xs px-4 py-2 text-right font-semibold">Donations</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-slate-300">
                    {{ range .LineItems }}
                    <tr class="hover:bg-slate-100">
                        <td class="px-4 py-1 whitespace-nowrap">{{ .Date.Format "02/01/2006" }}</td>
                        <td class="px-4 py-1">{{ .ContactName }}</td>
                        <td class="px-4 py-1 max-w-xs truncate">{{ .Description }}</td>
                        <td class="px-4 py-1 text-right font-mono">{{ printf "%.2f" .Total }}</td>
                        <td class="px-4 py-1 text-right font-mono">{{ printf "%.2f" .DonationsTotal }}</td>
                    </tr>
                    {{ end }}
                    <tr class="bg-slate-100 font-semibold">
                        <td class="px-4 py-1 whitespace-nowrap">Total</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td class="px-4 py-1 text-right font-mono">0.22</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="py-4">
            <h3 class="text-l text-slate-800 font-semibold">Linked Salesforce Donations</h3>
        </div>

        <!-- Linked Donations Panel -->
        <div class="overflow-x-auto rounded-md border border-slate-300">
            <table class="min-w-full divide-y divide-slate-300 text-xs">
                <!-- <table class="min-w-full divide-y divide-slate-200 text-sm"> -->
                <thead class="bg-violet-100">
                <tr class="uppercase text-slate-600">
                    <th class="px-4 py-0 w-8">
                    <button class="text-xs bg-green-600 text-white font-bold py-1 px-1 mr-2 rounded hover:bg-green-700">Unlink</button>
                    </th>
                    <th class="px-4 py-2 text-left font-semibold text-slate-600">Contact</th>
                    <th class="px-4 py-2 text-left font-semibold text-slate-600">Description</th>
                    <th class="px-4 py-2 text-right font-semibold text-slate-600">Amount</th>
                </tr></thead>
                <tbody class="bg-white divide-y divide-slate-300">
                    {{ range .Donations }}
                    <tr>
                        <td class="px-4 py-1"><input type="checkbox"></td>
                        <td class="px-4 py-1">{{ .ContactName }}</td>
                        <td class="px-4 py-1">{{ .Description }}</td>
                        <td class="px-4 py-1 text-right font-mono">{{ printf "%.2f" .Amount }}</td>
                    </tr>
                    {{ end }}
                    <tr class="bg-slate-100 font-semibold">
                        <td class="px-4 py-1">&nbsp;</td>
                        <td class="px-4 py-1 whitespace-nowrap">Total</td>
                        <td>&nbsp;</td>
                        <td class="px-4 py-1 text-right font-mono">0.22</td>
                    </tr>
                </tbody>
            </table>
        </div>

            <p class="text font-mono font-semibold mt-4">
            <span class="font-semibold uppercase {{ if .Invoice.IsReconciled }}text-green-600{{ else }}text-red-600{{ end }}">
                {{ if .Invoice.IsReconciled }}Reconciled{{ else }}Out by {{ printf "£%.2f" .Invoice.Total }}{{ end }}
            </span>
            </p>

    </div>

    <!-- Search for Donations Panel -->
    <div class="bg-white p-4 rounded-lg shadow-md border border-slate-400">
        <div class="flex justify-between items-center">
            <h2 class="text-l font-semibold">Find Salesforce Donations to Link</h2>
        </div>

        <div class="my-4 bg-slate-100 rounded-md border">
            <form class="mx-4 my-2 mb-3 grid grid-cols-1 md:grid-cols-5 gap-4 items-end text-sm mb-2 bg-slate-100">
                <div>
                    <label for="status" class="block font-medium text-slate-700 pb-1">Status</label>
                    <select id="status" name="status" class="border mt-1 block w-full border-slate-300 shadow-sm bg-white focus:border--500 p-1 focus:ring-sky-500">
                        <option>Unreconciled</option>
                        <option>Reconciled</option>
                        <option>All</option>
                    </select>
                </div>
                <div>
                    <label for="date-from" class="block font-medium text-slate-700 pb-1">Date From</label>
                    <input type="date" id="date-from" name="date-from" value="2025-07-01" class="border mt-1 block w-full border-slate-300 shadow-sm p-1 focus:border--500 focus:ring-sky-500">
                </div>
                <div>
                    <label for="date-to" class="block font-medium text-slate-700 pb-1">Date To</label>
                    <input type="date" id="date-to" name="date-to" value="2026-06-30" class="border mt-1 block w-full border-slate-300 shadow-sm p-1 focus:border--500 focus:ring-sky-500">
                </div>
                <div class="md:col-span-1">
                    <label for="search" class="block font-medium text-slate-700 pb-1">Search Text</label>
                    <input type="text" id="search" name="search" value="" class="border mt-1 block w-full border-slate-300 shadow-sm p-1 focus:border--500 focus:ring-sky-500">
                </div>
                <div class="md:col-span-1">
                    <button type="submit" class="bg-slate-400 text-white font-bold py-2 px-4 rounded hover:bg--700 transition-colors">Reset</button>
                    <button type="submit" class="float-right w-1/2 bg--600 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition-colors">Search</button>
                </div>
            </form>

            <div class="border-b border-dotted border-2 border-slate-400 mb-1"></div>

            <table class="min-w-full divide-y divide-slate-300 text-xs">
                <!-- <table class="min-w-full divide-y divide-slate-200 text-sm"> -->
                <thead class="bg-slate-100 mt-2">
                    <tr class="uppercase text-slate-600">
                    <th class="px-4 py-1 w-8">
                    <button class="text-xs bg-green-600 text-white font-bold py-1 px-1 mr-2 rounded hover:bg-green-700">Link</button>
                    </th>
                    <th class="px-4 py-1 text-left font-semibold text-slate-600">Contact</th>
                    <th class="px-4 py-1 text-left font-semibold text-slate-600">Description</th>
                    <th class="px-4 py-1 text-right font-semibold text-slate-600">Amount</th>
                </tr></thead>
                <tbody class="bg-white divide-y divide-slate-300">
                    {{ range .Donations }}
                    <tr>
                        <td class="px-4 py-1"><input type="checkbox"></td>
                        <td class="px-4 py-1">{{ .ContactName }}</td>
                        <td class="px-4 py-1">{{ .Description }}</td>
                        <td class="px-4 py-1 text-right font-mono">{{ printf "%.2f" .Amount }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ end }}
