{{- /* partial-donations-tabs.html is a template for donation tab headers */ -}}

{{ define "partial-donations-tabs" }}
{{ $activeClass := "tab-link relative z-10 inline-block px-4 py-2 text-sky-700 font-bold bg-white border border-slate-400 border-b-white rounded-t-md -mb-px" }}
{{ $inactiveClass := "tab-link inline-block px-4 py-2 text-slate-500 bg-slate-100 border border-slate-400 border-b-slate-100 hover:border-b-slate-200 hover:bg-slate-200 hover:text-sky-800 rounded-t-md" }}
<nav>
    <ul class="flex flex-wrap items-end text-sm font-medium text-center gap-2" role="tablist">
        <li class="me-2">
            <a href="#"
               {{- if ne .TabType "find" }}
               class="{{ $activeClass }}"
               {{- else }}
               class="{{ $inactiveClass }}"
               {{- end }}
               hx-get="/partials/donations-linked/{{ .Typer}}/{{ .ID }}?status=Linked"
               hx-target="#donations-zone"
               hx-swap="innerHTML"
               role="tab" aria-selected="true">
                Linked Donations
            </a>
        </li>
        <li class="me-2">
           <!-- Todo: fix verbatim date -->
           <!-- Todo: probably a good idea to send a from date 1 month before the invoice for the default donations search in the invoice template data -->
            <a href="#"
               {{- if eq .TabType "find" }}
               class="{{ $activeClass }}"
               {{- else }}
               class="{{ $inactiveClass }}"
               {{- end }}
               hx-get="/partials/donations-find/{{ .Typer }}/{{ .ID }}?status=NotLinked&date-from={{ .DonationSearchStart.Format "2006-01-02" }}&date-to={{ .DonationSearchEnd.Format "2006-01-02" }}"
               hx-target="#donations-zone"
               hx-swap="innerHTML"
               role="tab" aria-selected="false">
                Find Donations
            </a>
        </li>
    </ul>
</nav>
{{ end }}
