{{- /* partial-donations-linked.html is a template for the donation linked tab on invoice and bank transaction detail pages */ -}}

<h3 class="text-l text-slate-800 font-semibold px-4 py-3">Linked Salesforce Donations</h3>

<div id="donations-unlink-error"></div>

{{- /* the unlink form targets: Typer: invoice or bank-transaction .ID: the invoice number or bank-transaction reference */ -}}
<div id="donations-unlink-search">
<form hx-post="/donations/{{ .Typer }}/{{ .ID }}/unlink"
      hx-target="#donations-unlink-search"
      hx-swap="innerHTML">
<div class="border-2 border-slate-300 mx-4 mb-3"> 
    <table class="min-w-full divide-y divide-slate-300 text-xs">
        <thead class="bg-indigo-100">
            <tr>
                <th class="px-4 py-0 w-8">
                <button class="text-xs bg-sky-600 text-white font-bold py-1 px-1 mr-2 rounded hover:bg-sky-700">Unlink</button>
                </th>
                <th class="min-w-3/10 px-4 py-2 text-left font-semibold">Name</th>
                <th class="px-4 py-2 text-left font-semibold">Close Date</th>
                <th class="min-w-3/10 px-4 py-2 text-left font-semibold">Payout Reference</th>
                <th class="px-4 py-2 text-right font-semibold">Amount</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-slate-300">
            {{ range .ViewDonations }}
            <tr>
                <td class="px-4 py-1 text-center"><input name="donation-ids" value="{{ .ID }}" type="checkbox"></td>
                <td class="px-4 py-1 whitespace-nowrap">{{ .Name }}</td>
                <td class="px-4 py-1 whitespace-nowrap">{{ .CloseDateStr }}</td>
                <td class="px-4 py-1">{{ .PayoutReference }}</td>
                <td class="px-4 py-1 text-right font-mono">{{ printf "%.2f" .Amount }}</td>
            </tr>
            {{ else }}
            <tr><td class="px-4 py-4" colspan="5">There are no linked donation records to display</td></tr>
            {{ end }}
        </tbody>
    </table>
</div> 
</form>
</div>
<!-- end of partial -->

<!-- Pagination -->
<div class="mt-4 pb-2 mb-2 text-center text-xs text-slate-800">
    {{ $URL := .Pagination.PreviousURL }}
    {{ if $URL }}
        <a href="{{ $URL }}" 
           class="px-3 py-1 border border-indigo-300 rounded hover:bg-indigo-100">&laquo; Prev</a>
    {{ else }}
        <span class="text-slate-400 cursor-not-allowed">&laquo; Prev</span>
    {{ end }}

    <span class="mx-4">
    page {{ .Pagination.PageNo }} of {{ .Pagination.Pages }}
    </span>

    {{ $URL := .Pagination.NextURL }}
    {{ if $URL }}
        <a href="{{ $URL }}"
           class="px-3 py-1 border border-indigo-300 rounded hover:bg-indigo-100">Next &raquo;</a>
    {{ else }}
        <span class="text-slate-400 cursor-not-allowed">Next &raquo;</span>
    {{ end }}
</div>
