{{ define "partial-donations-searchform" }}
<!-- Search Form -->
{{ if eq .PageType "direct" }}
<form class="grid grid-cols-1 md:grid-cols-6 gap-4 items-end text-sm p-4 pt-2 bg-indigo-100">
{{ else }}
<form hx-get="{{ .GetURL }}"                                             
      hx-target="#donations-zone"                                           
      hx-swap="innerHTML"                                                
      class="grid grid-cols-1 md:grid-cols-6 gap-4 items-end text-sm p-4 pt-2">
{{ end }}
    <div>
        <label for="status" class="block font-semibold text-xs text-slate-700 pb-1 mt-1">Status</label>
        <select id="status"
                name="status"
                class="border mt-1 block rounded-md w-full border-1 shadow-sm bg-white focus:border-sky-500 p-1.5 focus:ring-sky-500
                       {{- if .Validator.FieldError "status"}} border-red-500 border-2 {{- else }} border-slate-400 {{- end}}">

            <option value="NotLinked" {{ if (eq "NotLinked" .Form.LinkageStatus ) }}selected{{ end }}>Not Linked</option>
            <option value="Linked" {{ if (eq "Linked" .Form.LinkageStatus ) }}selected{{ end }}>Linked</option>
            <option value="All" {{ if (eq "All" .Form.LinkageStatus ) }}selected{{ end }}>All</option>
        </select>
    </div>
    <div>
        <label for="date-from" class="block font-semibold text-xs text-slate-700 pb-1 mt-1">Date From</label>
        <input type="date"
               id="date-from"
               name="date-from" 
               value="{{ if .Form.DateFrom }}{{ .Form.DateFrom.Format "2006-01-02" }}{{ else }}2025-07-01{{end}}"
               class="mt-1 block bg-white w-full rounded-md border-1 border-slate-400 shadow-sm p-1.5 focus:border-sky-500 focus:ring-sky-500 
                      {{- if .Validator.FieldError "date-from" }} border-red-500 border-2 {{- else }} border-slate-400 {{- end}}">
    </div>
    <div>
        <label for="date-to" class="block font-semibold text-xs text-slate-700 pb-1 mt-1">Date To</label>
        <input type="date"
               id="date-to"
               name="date-to"
               value="{{ if .Form.DateFrom }}{{.Form.DateTo.Format "2006-01-02" }}{{ else }}2026-06-30{{end}}"
               class="mt-1 block bg-white w-full rounded-md border-1 border-slate-400 shadow-sm p-1.5 focus:border-sky-500 focus:ring-sky-500
                      {{- if .Validator.FieldError "date-to" }} border-red-400 border-4 {{- else }} border-slate-400 {{- end}}">
    </div>
    <div>
        <label for="search" class="block font-semibold text-xs text-slate-700 pb-1 mt-1">Payout Reference</label>
        <input type="text" 
               id="payout-reference"
               name="payout-reference"
               value="{{ .Form.PayoutReference }}"
               class="mt-1 block bg-white w-full rounded-md border-1 border-slate-400 shadow-sm p-1.5 focus:border-sky-500 focus:ring-sky-500">
    </div>
    <div>
        <label for="search" class="block font-semibold text-xs text-slate-700 pb-1 mt-1">Search Text</label>
        <input type="text" 
               id="search"
               name="search"
               value="{{ .Form.SearchString }}"
               class="mt-1 block bg-white w-full rounded-md border-1 border-slate-400 shadow-sm p-1.5 focus:border-sky-500 focus:ring-sky-500">
    </div>
    <div class="md:col-span-1 flex space-x-2">
        <a href="{{ .GetURL }}" class="w-full text-center bg-slate-500 text-white font-bold py-2 px-3 rounded hover:bg-slate-600 transition-colors">Reset</a>
        <button type="submit" class="w-full bg-sky-600 text-white font-bold py-2 px-4 rounded hover:bg-sky-700 transition-colors">Search</button>
    </div>
</form>

<!-- form errors -->
{{ if eq false .Validator.Valid }}
<div class="w-full p-4 pt-0 bg-indigo-100 text-xs text-red-700">
    <ul class="list-disc list-inside text-red-700 space-y-1">
    {{ range .Validator.Errors }}
    <li>{{ . }}</li>
    {{ end }}
    </ul>
</div>
{{ end }}

<div class="border-t-2 border-dotted border-slate-400 bg-slate-100 mb-4"></div>
{{ end }}
