{{- /* partial-donations-linked.html is a template for the donation linked tab on invoice and bank transaction detail pages */ -}}

{{ template "partial-donations-tabs" . }}
<div id="tab-content" 
     class="relative overflow-x-auto text-black border border-slate-400 rounded-md rounded-tr-lg rounded-b-md rounded-tl-none">

<h3 class="text-l text-slate-800 font-semibold px-4 py-3">Linked Salesforce Donations</h3>

<div id="donations-unlink-error"></div>

{{- /* the unlink form targets: Typer: invoice or bank-transaction .ID: the invoice number or bank-transaction reference */ -}}
<form hx-post="/donations/{{ .Typer }}/{{ .ID }}/unlink"
      hx-target="#donations-unlink-error"
      hx-swap="innerHTML">
<div class="border-2 border-slate-300 mx-4 mb-3"> 
    <table class="min-w-full divide-y divide-slate-300 text-xs">
        <thead class="bg-indigo-100">
            <tr>
                <th class="px-4 py-0 w-8">
                <button class="text-xs bg-sky-600 text-white font-bold py-1 px-1 mr-2 rounded hover:bg-sky-700">Unlink</button>
                </th>
                <th class="min-w-3/10 px-4 py-2 text-left font-semibold">Name</th>
                <th class="px-4 py-2 text-left font-semibold">Close Date</th>
                <th class="min-w-3/10 px-4 py-2 text-left font-semibold">Payout Reference</th>
                <th class="px-4 py-2 text-right font-semibold">Amount</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-slate-300">
            {{ range .ViewDonations }}
            <tr>
                <td class="px-4 py-1 text-center"><input name="donation-ids" value="{{ .ID }}" type="checkbox"></td>
                <td class="px-4 py-1 whitespace-nowrap">{{ .Name }}</td>
                <td class="px-4 py-1 whitespace-nowrap">{{ .CloseDateStr }}</td>
                <td class="px-4 py-1">{{ .PayoutReference }}</td>
                <td class="px-4 py-1 text-right font-mono">{{ printf "%.2f" .Amount }}</td>
            </tr>
            {{ else }}
            <tr><td class="px-4 py-4" colspan="5">There are no linked donation records to display</td></tr>
            {{ end }}
        </tbody>
    </table>
</div> 
</form>

</div>  <!-- end tab-content -->
<!-- end of partial -->
