---
# reconciler app combined config

################################################################
# General settings

# The database file path for the sqlite database.
# For security or speed the special path ":memory:" can be used. However beware that the
# system will have to sync _all_ data each time it is used if an in-memory database is
# used.
database_path: "./reconciliation.db"

# The data date start is the date from which information should be
# reconciled between the systems.
data_date_start: "2025-04-01"

# The Xero donation account prefixes are the patterns matching the
# beginning of any account codes that record donation income.
donation_account_prefixes:
  - "53"                                                                  
  - "55"                                                                  
  - "57"

# Operate in development mode
development_mode: false

################################################################
# Web server settings

web:
  listen_address: "localhost:8080"
  xero_oauth2_callback: "/xero/callback"
  salesforce_oauth2_callback: "/salesforce/callback"

################################################################
# Xero and Salesforce API settings
# These settings set out the OAuth2 connection settings to the remote
# platforms.
# PKCE code verification is strongly recommended.

xero:
  client_id: "XERO_CLIENT_ID"
  client_secret: "XERO_CLIENT_SECRET"
  token_file_path: "./xero_token.json"
  # These oauth2 scopes should not normally be changed
  pkce_enabled: true
  # The token timeout is the time at which the refresh token will no
  # longer be valid or a sensible timeout value.
  token_timeout: "8h"
  scopes:
    - "accounting.transactions"
    - "accounting.settings.read"
    - "offline_access" # provides refresh token capability

salesforce:
  login_domain: "test.salesforce.com"
  client_id: "SALESFORCE_CONSUMER_KEY"
  client_secret: "SALESFORCE_CONSUMER_SECRET"
  token_file_path: "./sf_token.json"
  pkce_enabled: true
  # The token timeout is the time at which the refresh token will no
  # longer be valid or a sensible timeout value.
  token_timeout: "8h"
  # These oauth2 scopes should not normally be changed
  scopes:
    - "api"
    - "refresh_token"

  # The SOQL query to execute to show information in the local system.
  query: >-
    SELECT
      Id, Name, Amount, CloseDate, LastModifiedDate, Payout_Reference__c,
      StageName, RecordType.Name, Account.Name,
      CreatedBy.Name, CreatedDate, LastModifiedBy.Name
    FROM Opportunity
    WHERE {{.WhereClause}}

  # Optional field mappings for the UI
  field_mappings:
    StageName: Stage
    Account.Name: Account
    CreatedBy.Name: CreatedBy
    LastModifiedBy.Name: ModifiedBy

  # Target object and field for Distributed Foreign Key (DFK) updates.
  linking_object: "Opportunity"
  linking_field_name: "Payout_Reference__c"

