/* inset table headers for */
@layer components {
    /* consider using a Go partial instead */
    .th-header {
        @apply text-slate-800 px-4 py-2 text-left font-semibold;
    }
    .form-label {
        /* @apply text-slate-700 text-xs text-left font-semibold block pb-1; */
        @apply  block font-semibold text-xs text-slate-700 pb-1;
    }
}
